.loginPage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;

    .loginPageHeading {
        text-align: center;
        margin-bottom: 20px;
    }
}
