.nftListItemCard {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    .nftListItemCardContent {
        overflow: hidden;
        border-radius: 8px;
        background-color: white;
        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
            0 2px 4px -2px rgb(0 0 0 / 0.1);
    }

    .nftListItemCardImage {
        display: block;
        width: 100%;
        aspect-ratio: 1;
        object-fit: cover;
    }

    .nftListItemCardInfo {
        padding: 16px;
    }

    .nftListItemCardName {
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 8px;
    }

    .nftListItemCardDescription {
        margin-bottom: 8px;
    }
}
