.nftListItemCard {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    .nftListItemCardContent {
        overflow: hidden;
        border-radius: 8px;
        border: 1px solid lightgrey;
        background-color: white;
    }

    .nftListItemCardImage {
        display: block;
        width: 100%;
        aspect-ratio: 1;
        object-fit: cover;
    }

    .nftListItemCardInfo {
        padding: 12px 16px;
    }
}
